www.{$DOMAIN_NAME:invalid} {
    redir https://{$DOMAIN_NAME:invalid}{uri} permanent
}

{$DOMAIN_NAME:invalid} {
    encode gzip
    reverse_proxy client:80

    reverse_proxy /socket.io/* api:5000 
    reverse_proxy /api/* api:5000

    header /api/* {
        -X-Powered-By
        -Server

        # enable HSTS
        Strict-Transport-Security max-age=31536000;

        # disable clients from sniffing the media type
        X-Content-Type-Options nosniff

        # clickjacking protection
        X-Frame-Options DENY

        # XSS Protection
        X-XSS-Protection "1; mode=block"
    }
    
    rate_limit {
         
        zone api_limit {
            # key {remote_host}
            # for cloudflare proxy
            key {http.request.header.CF-Connecting-IP}
            events 100
            window 1m
        }

          zone burst_limit {
            # key {remote_host}
            # for cloudflare proxy
            key {http.request.header.CF-Connecting-IP}
            events 20
            window 1s
        }
    }
}
# rasengan.vip, www.rasengan.vip {
#     # encode gzip
#     reverse_proxy /a{$DOMAIN_NAME:invalid}:5000
#     reverse_p{$DOMAIN_NAME:invalid}:3000

#     # handle /api/* {
#     #     reverse_proxy api:5000
#     # }

#     # handle {
#     #     reverse_proxy client:3000
#     # }
# }